<h2 class="content-block">Species Distribution</h2>

<div class="content-block dx-card responsive-paddings">
    <form action="your-action" (submit)="onFormSubmit($event)">
        <dx-form id="form"
            [readOnly]="false"
            [showColonAfterLabel]="true"
            [showValidationSummary]="true"
            validationGroup="animalsData">
            <dxi-item itemType="group" caption="Species Info">
                <dxi-item dataField="speciesId" editorType="dxSelectBox" [editorOptions]="{dataSource: speciesDataSource, displayExpr: 'name', valueExpr: 'id'}">
                    <dxo-label text="Species"></dxo-label>
                    <dxi-validation-rule 
                        type="required"
                        message="Species should be selected!">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="population" editorType="dxNumberBox" [editorOptions]="{min: '1', showSpinButtons: 'true'}">
                    <dxi-validation-rule 
                        type="required"
                        message="Population is required!">
                    </dxi-validation-rule>
                    <dxi-validation-rule 
                        type="range"
                        [min]="1"
                        message="Population should be positive number!">
                    </dxi-validation-rule>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Biogeography">
                <dxi-item dataField="countryId" editorType="dxSelectBox" [editorOptions]="{dataSource: countriesUrl, displayExpr: 'name', valueExpr: 'id', onValueChanged: onCountryValueChanged}">
                    <dxo-label text="Country"></dxo-label>
                    <dxi-validation-rule 
                        type="required"
                        message="Country should be selected!">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="ecoregionId" editorType="dxSelectBox" [editorOptions]="{dataSource: ecoregions, displayExpr: 'name', valueExpr: 'id', disabled: ecoregionSelectBoxDisabled}">
                    <dxo-label text="Ecoregion"></dxo-label>
                    <dxi-validation-rule 
                        type="required"
                        message="Ecoregion should be selected!">
                    </dxi-validation-rule>
                </dxi-item>
            </dxi-item>
            <dxi-item 
                itemType="button"
                horizontalAlignment="left"
                [buttonOptions]="buttonOptions">
            </dxi-item>
        </dx-form>
    </form>
</div>