<h2 class="content-block">{{speciesDistributionTitle}}</h2>

<dx-data-grid class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    (onEditorPreparing)="disableColumnsEditing($event)">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing
	    [allowUpdating]="true"
	    mode="cell"> <!-- 'batch' | 'cell' | 'form' | 'popup' -->
    </dxo-editing>

    <dxi-column
        dataField="Id"
        [caption]="idColumnHeader"
        alignment="left"
        [width]="70"
        [hidingPriority]="6">
    </dxi-column>
    <dxi-column
        dataField="Species"
        [caption]="speciesColumnHeader"
        [hidingPriority]="5">
    </dxi-column>
    <dxi-column
        dataField="Population"
        [caption]="populationColumnHeader"
        alignment="left"
        [hidingPriority]="4">
    </dxi-column>
    <dxi-column
        dataField="Country"
        [caption]="countryColumnHeader"
        [hidingPriority]="3">
    </dxi-column>
    <dxi-column
        dataField="Ecoregion"
        [caption]="ecoregionColumnHeader"
        [hidingPriority]="2">
    </dxi-column>
    <dxi-column
        dataField="Biome"
        [caption]="biomeColumnHeader"
        [hidingPriority]="1">
    </dxi-column>
    <dxi-column
        dataField="Realm"
        [caption]="realmColumnHeader"
        [hidingPriority]="0">
    </dxi-column>
</dx-data-grid>
